<mat-card>
    <mat-card-content style=" text-align: center;" >
      <form class="registroForm">
        <table border="0"  >
          <tr>
          <td>
                    <label class="etiqueta">Nombre</label>  <input
              class="entradaSearch"
              type="text"
              id="Nombre"
              placeholder="ingrese el login_name del usuario"
              maxlength="18"
              minlength="1"
              onkeypress="return (event.charCode >= 65 && event.charCode <= 90
                   || event.charCode >= 97 && event.charCode <= 122)"
              name="Nombre"
              #login_name="ngModel"
              matInput
              [(ngModel)]="sucursal.nombre"
            />

            <button class="buttonSearch"  (click)="this.consultarSucursal()">
              <mat-icon>search</mat-icon>
            </button>

          </td>


          <td>
                      <label class="etiqueta">Descripcion</label> 
                    <input
          class="entrada"
          type="text"
          id="Descripcion"
          maxlength="18"
          minlength="1"
          onkeypress="return (event.charCode >= 65 && event.charCode <= 90  || event.charCode >=8  || event.charCode >=9
               || event.charCode >= 97 && event.charCode <= 122)"
          name="Descripcion"
          #nombre="ngModel"
          matInput
          [(ngModel)]="sucursal.descripcion"
        />
          </td>
        </tr>
          
    <tr>

      <td>
                  <label class="etiqueta">Direccion</label>         <input
          class="entrada"
          type="text"
          id="direccion"
          maxlength="18"
          minlength="1"
          onkeypress="return (event.charCode >= 65 && event.charCode <= 90  || event.charCode >=8  || event.charCode >=9
               || event.charCode >= 97 && event.charCode <= 122)"
          name="d"
          #nombre="ngModel"
          matInput
          [(ngModel)]="sucursal.direccion"
        />

      </td>

      <td>
                  <label class="etiqueta">Telefono</label>   
                <input
          class="entrada"
          type="text"
          id="telefono"
          maxlength="18"
          minlength="1"
          onkeypress="return (event.charCode >= 65 && event.charCode <= 90  || event.charCode >=8  || event.charCode >=9
               || event.charCode >= 97 && event.charCode <= 122)"
        name="telefono"
        #apellido="ngModel"
        matInput
        [(ngModel)]="sucursal.telefono"
        />

      </td>

    </tr>

    <tr>

      <td>
                   <label class="etiqueta">correo</label>     <input
          class="entrada"
          type="text"
          id="apellido"
          maxlength="18"
          minlength="1"
          onkeypress="return (event.charCode >= 65 && event.charCode <= 90  || event.charCode >=8  || event.charCode >=9
               || event.charCode >= 97 && event.charCode <= 122)"
        name="apellido"
        #apellido="ngModel"
        matInput
        [(ngModel)]="sucursal.correo"
        />

      </td>

      <td>
                  <label class="etiqueta">Estado:</label>
      <select id="estado" class="entrada"
        name="estado"
        #estado="ngModel"
        matInput
        [(ngModel)]="sucursal.idEstado">

          <option value="0">Seleccione</option>

          <option value="1">Activo</option>

          <option value="2">Inactivo</option>

        </select>

      </td>

    </tr>


       </table>
      </form>
      <input
      class="button"
      type="button"
      value="Actualizar sucursal"
      (click)="this.actualizarSucursal()"
    />
    <br />
    <input
      class="button-salida"
      type="button"
      value="Regresar al menu principal"
      routerLink="/menu"
    />
    </mat-card-content>
</mat-card>
